@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Oswald Regular;
	src: url('$lib/assets/Oswald/Oswald-Regular.ttf');
}
@font-face {
	font-family: Oswald Bold;
	src: url('$lib/assets/Oswald/Oswald-Bold.ttf');
}
html {
	font-family: Oswald Regular;
}
